# # Python cache
# **/__pycache__/
# *.py[cod]
# *$py.class

# # Django database (since using MySQL)
# *.sqlite3

# # Environments
# .venv/
# venv/
# local_settings.py


# Virtual environment
venv/
env/

# Python cache
**/__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo


# Django database (since using MySQL)
*.sqlite3

# Environments
venv/
.venv/

# Databases
*.sqlite3

# Local Settings
config/local_settings.py

.DS_Store#script#
local_settings.py
db.sqlite3

.DS_Store#script#
local_settings.py
# OS files
.DS_Store


#media
media